.clients {
  position: relative;
  padding-top: 80px;
  @include mediaTablet {
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  &::before {
    z-index: -2;
    content: "";
    position: absolute;
    overflow-x: hidden;
    left: -750px;
    bottom: -450px;
    width: 100%;
    height: 100%;
    background: url("../img/homepage/main/facts/bg-image.webp") no-repeat;
    transform: rotate(-53deg);
    @include mediaTablet {
      transform: rotate(-75deg);
      bottom: -500px;
      left: -450px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 934px;
    background-color: $gray200;
    z-index: -1;
    transform: translate(0, -100px);
    @include mediaTablet {
      transform: translate(0, 0);
      top: 0;
      height: 100%;
      width: 100%;
      background-color: $gray200;
      background-size: cover;
    }
  }

  &__container {
  }

  &__title {
    margin-bottom: 60px;
    text-align: center;
    @include mediaTablet {
      margin-bottom: 30px;
    }
  }

  &__partners-wrap {
    margin-bottom: 170px;
    @include mediaTablet {
      margin-bottom: 60px;
    }
  }

  &__reviews-wrap {
  }
}
