.header {
  min-height: 1080px;
  margin-bottom: 180px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    min-height: 350px;
    height: 70vh;
    transition-delay: 0s;
    transition: all 0.1s ease;
    box-shadow: 30px rgba(0, 0, 0, 0.491);
  }
  @media screen and (max-width: 1199px) {
    min-height: 800px;
    margin-bottom: 150px;
    &__info {
      padding: 25px;
    }
  }

  &__logo {
    width: 130px;
    padding: 15px 0 5px 0;
    margin-right: 60px;
  }

  &__top-row {
    padding: 20px 0;
  }

  &__nav {
    height: 52px;
    padding: 0;
    &-items {
      column-gap: 40px;
      row-gap: 30px;
    }
    &-item {
      color: $dark;
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      font-family: $font-main;
      transition: color 0.2s ease-in;
      &:hover {
        color: $accent;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    &__nav {
      padding: 0;
      z-index: 99;
    }
  }

  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 175px;
      height: 48px;
      @include mediaTablet {
        flex-direction: row-reverse;
        text-align: right;
        width: 180px;
      }
    }
    &-item--lg {
      width: 210px;
      @include mediaTablet {
        width: 180px;
      }
    }
    &-text-wrap {
      flex-direction: row;
      margin-left: 15px;
    }
    &-title {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: $dark;
    }

    &-info {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      @include mediaTablet {
        font-size: 16px;
      }
    }

    @include mediaTablet {
      flex-direction: column;
      align-items: right;
      align-content: right;
    }
  }
}
