.section-cta {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  padding: 0 15px;
  @include mediaTablet {
    flex-direction: column;
    gap: 20px;
  }

  &__btn {
    @include btnAction();
    padding: 0px 30px;
    width: 224px;
    height: 52px;
    background-color: $accent;
    font-weight: 700;
    font-size: 16px;
    line-height: 325%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @include mediaTablet {
      font-size: 14px;
      padding: 0px 20px;
      width: 200px;
      height: 52px;
    }
    &:hover {
      border-color: $dark;
    }
  }
}
