@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: $font-main;
  background-color: $white;
  color: $white;
  font-size: 16px;
}

a {
  color: $dark;
  transition: color 0.2s ease-in;

  &:hover {
    color: $accent;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;

  &--sm {
    max-width: 824px;
  }
}

.text-right {
  text-align: right;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;

  position: absolute;

  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);

  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-weight: 700;
  font-size: 46px;
  color: $dark;
  font-family: $font-main;

  @include mediaTablet {
    font-size: 28px;
  }
}

.title-4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: $dark;

  @include mediaTablet {
    font-size: 18px;
  }
}

.description {
  color: #787a80;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition-property: height, visibility;
    transition-duration: 0.35s;
  }
}
