@mixin mediaTablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin btnAction {
  border: 1px solid $white;
  border-radius: 4px;
  padding: 0px 38px;
  width: 278px;
  height: 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  transition: all 0.2s ease-in;
  text-transform: uppercase;

  &:hover {
    background-color: $white;
    color: $dark;
  }
}

@mixin muteVideoBtn {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  line-height: 2.3em;
}