// Fonts
$font-main: "Ubuntu", sans-serif;
$font-accent: "Lato", sans-serif;

// Colors
$white: #fff;
$dark: #1e212c;
$accent: #ff5a30;
$gray: #787a80;
$gray900: #1E212C;
$gray800: #424551;
$gray700: #787A80;
$gray600: #9a9ca5;
$gray400: #d7dadd;
$gray300: #e5e8ed;
$gray200: #f4f5f6;

// Colors facts
$facts-orange: #f89828;
$facts-pink: #f52f6e;
$facts-blue: #5a87fc;
$facts-green: #03cea4;

// Media
$tablet: 959px;
$phone: 479px;