// Fonts
$font-main: "Ubuntu", sans-serif;
$font-accent: "Lato", sans-serif;

// Colors
$white: #fff;
$dark: #1e212c;
$accent: #ff5a30;
$gray: #787a80;

// Colors facts
$facts-orange: #f89828;
$facts-pink: #f52f6e;
$facts-blue: #5a87fc;
$facts-green: #03cea4;

// Media
$tablet: 959px;
